.my-list-flex {
  display: flex;
  justify-content: space-between;
}

.list-flex {
  display: flex;
  justify-content: end;
}

.title-text {
  text-shadow: 1px 1px rgba($color: #3e3e3e, $alpha: 0.4);
}
